html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--page-bg);
	color: var(--text-color);
    font-family: var(--font-main);

	font-weight: 300;
	a {
		color: var(--font-main);
		font-family: var(--font-accent);
		transition: all 0.2s ease-in;
	}
}
